
<app-frontend-header></app-frontend-header>
<!-- bradcam_area  -->
<div class="myh">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <h3 style="font-size: 21px;">About Project</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!-- Start Sample Area -->
<section class="sample-text-area">
<div class="container box_1170">
<h3 class="text-heading">About Hotel Booking System</h3>
<p class="sample-text">
  A hotel reservation system is a software solution, which has been designed to assist hotels and similar types of guest accommodation with the process of managing room reservations, or hotel facility bookings. The defining feature is the ability for guests to book hotel rooms directly, without going through a third party.Essentially, the system works by allowing guests to book hotels through the hotel website, or through other direct channels. Data is then synchronised with the hotel’s back end, allowing the fine details of the booking to be managed. Most hotel reservation systems will also automate some aspects, such as the sending of confirmation emails.
  It gives you an advantage over your competitors. There are still many small hotels today that do not have online booking capabilities. Less people are staying at those locations, and you can get the competitive edge with an online booking system.It improves your efficiency as a business. You availability is updated immediately upon receiving a reservation, not only in your own system, but across all of your channels. You will save time on administrative tasks while also minimising the risk of overbooking the rooms.
  In addition to allowing guests to book online directly, these reservation systems can also provide hotel operators with additional resources.
</p>
</div>
</section>
<!-- End Sample Area -->
<app-frontend-footer></app-frontend-footer>